<a href="https://colab.research.google.com/github/minho1110/BP_10_Ch6/blob/main/EXE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2, 101):
  if i%2==0 :
    print(i,end = "")

2468101214161820222426283032343638404244464850525456586062646668707274767880828486889092949698100

In [2]:
year = 0
balance = 1000
while balance <= 2000:
    year = year + 1
    interest = balance * 0.07
    balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

while 조건은 n이 0을 초과하는 경우이다.
digit 변수에 n을 %10으로 나눈 값이 입력된다.
%는 나머지를 연산하는 값이므로 n값을 10으로 나머지를 구한다면 1000, 200, 30까지는 10의 배수이므로 계산이 진행되지만 4를 정수 10으로는 나눌 수 없어서 4는 나머지 값이 된다.
sum(0) = sum(0) + digit(4)
(n(1234) = n(1234) // 10) -> n(123)의 값으로 반복문이 진행된다.
위 조건이 0보다 큰 경우까지 계산하는 것이므로 정리하면 다음의 연산 과정을 가진다.
sum += 4
sum +=3
sum +=2
sum +=1
즉, 4+3+2+1 = 10이 된다.

In [3]:
ans = 0
while ans != 3*9:
  ans = int(input("3*9는"))
print("맞았습니다.")

3*9는27
맞았습니다.

In [ ]:
sum =0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;
    sum = sum + x

print("합은 ", sum, "입니다.")

In [8]:
from random import randint
 
for i in range(3):
    d1 = randint(1, 6)
    d2 = randint(1, 6)
    print("첫번째 주사위=",d1 ,"두번째 주사위=",d2)

첫번째 주사위= 6 두번째 주사위= 2
첫번째 주사위= 2 두번째 주사위= 6
첫번째 주사위= 2 두번째 주사위= 3

In [ ]:
import turtle
 
t = turtle.Turtle()
t.shape("turtle")
t.color("blue")
t.lt(90)
 
for i in range (6):
    t.fd(100); t.fd(-30); t.lt(60); t.fd(30); t.fd(-30)
    t.rt(120); t.fd(30); t.fd(-30); t.lt(60); t.fd(-70); t.lt(60)

In [ ]:
import turtle
 
t = turtle.Turtle()
t.color("red")
 
for i in range(10):
    for j in range(1,6):
        t.lt(144)
       t.fd(200)
    t.lt(10)

In [ ]:
import random as rd
import turtle
 
t = turtle.Turtle()
t.shape("turtle")
 
for i in range(10):
    x=rd.randint(-150,150)
    y=rd.randint(-150,150)
    r=rd.randint(1,100)
 
    t.up()
    t.goto(x,y)
    t.down()
    t.circle(r)

In [ ]:
import turtle
 
t = turtle.Turtle()
t.shape("turtle")
 
for i in range(5):
    t.fd(200)
    t.rt(90)
    t.fd(20)
    t.rt(90)
    t.fd(200)
    t.lt(90)
    t.fd(20)
    t.lt(90)

In [ ]:
import turtle
import math
 
t = turtle.Turtle()
t.shape("turtle")
t.color("red")
 
for i in range(360):
    sine=math.sin(math.pi*i/180)
    print(sine)
    t.goto(i,sine*100)